@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/flatpickr.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";


.main-header {
  /* background: rgba(255, 255, 255, 0.121);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0.1px solid rgba(255, 255, 255, 0.32);
  border-radius: 0 0 10px 10px; */
  background-color: #007ACC;
  /* border-bottom: 0; */
  border-top: 0;
  
}

header {
  position: relative;
}

.chart-box {
  /* color: black; */
  background:#007ACC;
  border-radius: 10px;
  color: #f0f8ff;
}

tr {
  border: 0;
}

#pieChart {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 10px;
  /* background-color: black; */
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

